@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-slate-100;
  }

  /* https://nuxtjs.org/docs/directory-structure/assets#fonts */
  @font-face {
    font-family: Montserrat;
    font-weight: 400;
    font-display: optional;
    src: url("/fonts/montserrat/400-regular.woff2") format("woff");
  }

  @font-face {
    font-family: Montserrat;
    font-weight: 700;
    font-display: optional;
    src: url("/fonts/montserrat/700-bold.woff2") format("woff");
  }
}

.nuxt-content .nuxt-content-highlight {
  @apply relative;
}

.nuxt-content .nuxt-content-highlight > .filename {
  @apply absolute right-0 top-0 z-10 text-xs mr-4 mt-3 bg-slate-200 text-slate-900 px-2 py-1 rounded;
}
